@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

#es-vichy.es-vichy {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #2b2a29;
  background-color: #fff;
}
#es-vichy.es-vichy * {
  box-sizing: border-box;
}
#es-vichy.es-vichy h2,
#es-vichy.es-vichy h3,
#es-vichy.es-vichy h4,
#es-vichy.es-vichy h5 {
  font-family: "Spartan", sans-serif;
  color: #111;
}
#es-vichy.es-vichy .es-kv {
  background: #fff;
}
#es-vichy.es-vichy .es-kv__images {
  min-height: 535px;
  padding: 0 16px;
  padding-top: 37px;
  padding-bottom: 20px;
  background: url("images/bg-2.png") center right/contain no-repeat;
}
#es-vichy.es-vichy .es-kv__logo {
  margin-bottom: 20px;
  opacity: 0;
  -webkit-animation: slidedown 0.6s ease forwards;
          animation: slidedown 0.6s ease forwards;
}
#es-vichy.es-vichy .es-kv__claim {
  margin-bottom: 32px;
  opacity: 0;
  -webkit-animation: slidedown 0.6s ease forwards;
          animation: slidedown 0.6s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#es-vichy.es-vichy .es-kv__packshot {
  opacity: 0;
  -webkit-animation: slidedown 0.6s ease forwards;
          animation: slidedown 0.6s ease forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  position: relative;
  z-index: 1;
  max-width: 149px;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-kv__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#es-vichy.es-vichy .es-kv .es-kv__top-text {
  background-color: #fad522;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 5px 15px;
  font-weight: bolder;
}
#es-vichy.es-vichy .es-kv .es-kv__main-text {
  text-transform: uppercase;
  font-weight: bolder;
}
#es-vichy.es-vichy .es-kv__netlock {
  position: absolute;
  bottom: 0;
  right: -10px;
  z-index: -1;
}
#es-vichy.es-vichy .es-kv__netlock img {
  max-width: 150px;
}
#es-vichy.es-vichy .es-kv .es-kv__bottom-text {
  font-size: 9px;
  text-align: center;
}
#es-vichy.es-vichy .es-kv__disc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 9px;
  text-align: center;
}
#es-vichy.es-vichy .es-kv__photo {
  position: relative;
}
#es-vichy.es-vichy .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-kv__img--photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-vichy.es-vichy .es-kv__content {
  background: url("images/BG-1.png") center/cover no-repeat;
  padding-top: 69px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  min-height: 500px;
}
#es-vichy.es-vichy .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 32px 24px;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  text-align: right;
  opacity: 0;
  -webkit-animation: slideright 0.6s ease forwards;
          animation: slideright 0.6s ease forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
#es-vichy.es-vichy .es-info {
  padding: 32px 16px;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 32px;
}
#es-vichy.es-vichy .es-info__border {
  padding: 24px 16px;
  position: relative;
  margin-bottom: 32px;
}
#es-vichy.es-vichy .es-info__border::before {
  content: url("images/corner-1.png");
  position: absolute;
  top: 0;
  left: 0;
}
#es-vichy.es-vichy .es-info__border::after {
  content: url("images/corner-2.png");
  position: absolute;
  top: bottom;
  right: 0;
}
#es-vichy.es-vichy .es-info__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
}
#es-vichy.es-vichy .es-info__title span {
  font-weight: 700;
  padding-top: 16px;
  display: block;
}
#es-vichy.es-vichy .es-info__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  text-align: center;
  line-height: 1.4;
}
#es-vichy.es-vichy .es-info__desc strong {
  text-transform: uppercase;
}
#es-vichy.es-vichy .es-info__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
}
#es-vichy.es-vichy .es-info__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-info__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 8px;
}
#es-vichy.es-vichy .es-info__single {
  max-width: 168px;
}
#es-vichy.es-vichy .es-info__icon {
  margin-bottom: 16px;
}
#es-vichy.es-vichy .es-info__features {
  background: url("images/bubbles-2.png") center/contain no-repeat;
  background-position: bottom right;
  background-size: 120px;
}
#es-vichy.es-vichy .es-info__features .es-info__single {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#es-vichy.es-vichy .es-info__features .es-info__single .es-info__text--number {
  color: #fad522;
  font-weight: bolder;
  font-size: 20px;
}
#es-vichy.es-vichy .es-use {
  min-height: 720px;
  padding: 0 16px;
  margin-bottom: 32px;
}
#es-vichy.es-vichy .es-use__content {
  max-width: 730px;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-use .es-info__img {
  display: flex;
}
#es-vichy.es-vichy .es-use .es-info__img img {
  max-width: 400px;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-use__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 22px;
  padding-bottom: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
#es-vichy.es-vichy .es-use__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#es-vichy.es-vichy .es-use__item {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 16px;
  padding-left: 24px;
  position: relative;
}
#es-vichy.es-vichy .es-use__item::before {
  content: "•";
  position: absolute;
  font-size: 32px;
  color: #fad522;
  top: -50%;
  left: 0;
}
#es-vichy.es-vichy .es-banner {
  margin-bottom: 64px;
}
#es-vichy.es-vichy .es-banner__border {
  background: linear-gradient(45deg, #d2991d, #fad522);
  padding: 32px 16px;
  margin-bottom: 16px;
}
#es-vichy.es-vichy .es-banner__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 24px;
}
#es-vichy.es-vichy .es-banner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#es-vichy.es-vichy .es-banner__single {
  width: 220px;
  padding: 16px 16px;
}
#es-vichy.es-vichy .es-banner .es-banner__img {
  display: none;
}
#es-vichy.es-vichy .es-banner__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
#es-vichy.es-vichy .es-banner__text--number {
  font-size: 40px;
  line-height: 1;
}
#es-vichy.es-vichy .es-banner__text span {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  top: -8px;
}
#es-vichy.es-vichy .es-banner__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 9px;
  text-align: center;
}
#es-vichy.es-vichy .es-ingr {
  margin-bottom: 64px;
  padding: 0 16px;
}
#es-vichy.es-vichy .es-ingr__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}
#es-vichy.es-vichy .es-ingr__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;
  margin: 0 -24px;
  gap: 4px;
}
#es-vichy.es-vichy .es-ingr__single {
  max-width: 178px;
}
#es-vichy.es-vichy .es-ingr__single:not(:last-child) {
  margin-bottom: 32px;
}
#es-vichy.es-vichy .es-ingr__image {
  margin-bottom: 24px;
}
#es-vichy.es-vichy .es-ingr__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-ingr__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  text-align: center;
}
#es-vichy.es-vichy .es-ingr__image {
  position: relative;
  margin-bottom: 24px;
}
#es-vichy.es-vichy .es-ingr__label {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px;
  background: rgba(255, 255, 255, 0.66);
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
}
#es-vichy.es-vichy .es-benefits {
  background: none;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 55px 16px;
}
#es-vichy.es-vichy .es-benefits__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
}
#es-vichy.es-vichy .es-benefits__content {
  max-width: 550px;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-benefits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 8px;
  margin: 0 -16px;
}
#es-vichy.es-vichy .es-benefits__single {
  padding: 0 8px;
  max-width: 160px;
}
#es-vichy.es-vichy .es-benefits__single:not(:last-child) {
  margin-bottom: 32px;
}
#es-vichy.es-vichy .es-benefits__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-vichy.es-vichy .es-benefits__icon {
  margin-bottom: 16px;
}
#es-vichy.es-vichy .es-benefits__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  font-size: 13px;
}
#es-vichy.es-vichy .es-benefits__disc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: 32px;
  text-align: center;
  font-size: 12px;
}
#es-vichy.es-vichy .es-rev-banner {
  display: flex;
}
#es-vichy.es-vichy .es-rev-banner .es-banner__text {
  color: #111;
}
#es-vichy.es-vichy .es-rev-banner .es-rev-banner__img {
  display: none;
}
#es-vichy.es-vichy .es-rev-banner__content {
  padding: 32px 16px;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #d2991d, #fad522);
  width: 100%;
}
#es-vichy.es-vichy .es-rev-banner__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 24px;
}
#es-vichy.es-vichy .es-rev-banner__list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
#es-vichy.es-vichy .es-rev-banner__item {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  font-size: 12px;
}
#es-vichy.es-vichy .es-rev-banner__item:not(:last-child) {
  margin-bottom: 16px;
}
#es-vichy.es-vichy .es-cross {
  padding: 0 16px;
}
#es-vichy.es-vichy .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}
#es-vichy.es-vichy .es-cross__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 0 -16px;
  gap: 14px;
}
#es-vichy.es-vichy .es-cross__photo--desktop {
  display: none;
}
#es-vichy.es-vichy .es-cross__footer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  font-size: 10px;
}
#es-vichy.es-vichy .es-cross__packshot {
  position: relative;
  z-index: 1;
  margin-bottom: -64px;
}
#es-vichy.es-vichy .es-cross__packshot--1::before {
  position: absolute;
  content: "1";
  font-family: "Roboto";
  color: #ebebeb;
  font-size: 230px;
  top: -50px;
  left: -70px;
  line-height: 1;
  z-index: -1;
}
#es-vichy.es-vichy .es-cross__packshot--2::before {
  position: absolute;
  content: "2";
  font-family: "Roboto";
  color: #ebebeb;
  font-size: 230px;
  top: -50px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-vichy.es-vichy .es-cross__packshot--3::before {
  position: absolute;
  content: "3";
  font-family: "Roboto";
  color: #ebebeb;
  font-size: 230px;
  top: -50px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-vichy.es-vichy .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 4Vichy 6px;
  padding-bottom: 40px;
}
#es-vichy.es-vichy .es-cross__single {
  max-width: 250px;
  margin-bottom: 32px;
  padding: 0 8px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
#es-vichy.es-vichy .es-cross__single:hover .es-cross__icon {
  transform: scale(1.2);
}
#es-vichy.es-vichy .es-cross__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
#es-vichy.es-vichy .es-cross__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
#es-vichy.es-vichy .es-cross__subtitle strong {
  display: block;
  margin-bottom: 8px;
}
#es-vichy.es-vichy .es-cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}
#es-vichy.es-vichy .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  background: #fad522;
  font-size: 10px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 24px;
  margin-bottom: 16px;
  border: 1px solid #fad522;
  transition: all 0.3s ease;
}
#es-vichy.es-vichy .es-cross__link:hover {
  color: #fad522;
  background: #fff;
}
@media screen and (min-width: 560px) {
  #es-vichy.es-vichy .es-kv {
    display: flex;
  }
  #es-vichy.es-vichy .es-kv__images {
    display: flex;
    flex-flow: column;
    flex: 1;
    flex-basis: 50%;
  }
  #es-vichy.es-vichy .es-kv__packshot {
    padding-top: 48px;
  }
  #es-vichy.es-vichy .es-kv__photo {
    order: -1;
    flex: 1;
    flex-basis: 50%;
  }
  #es-vichy.es-vichy .es-use {
    min-height: 700px;
  }
  #es-vichy.es-vichy .es-benefits {
    min-height: 840px;
    background: url("images/bg-10.png") center/cover no-repeat;
    background-position: right bottom;
  }
  #es-vichy.es-vichy .es-cross__container {
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #es-vichy.es-vichy .es-cross__photo--desktop {
    display: block;
  }
  #es-vichy.es-vichy .es-cross__packshot {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #es-vichy.es-vichy .es-kv {
    margin-bottom: 32px;
  }
  #es-vichy.es-vichy .es-kv__netlock {
    position: absolute;
    top: 95%;
    right: -18px;
    transform: translate(0, -85%);
    z-index: -1;
  }
  #es-vichy.es-vichy .es-info__border {
    margin-bottom: 100px;
  }
  #es-vichy.es-vichy .es-use {
    background: url("images/BG-9.png") center/cover no-repeat;
    background-position: bottom left;
    min-height: 569px;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
  }
  #es-vichy.es-vichy .es-use .es-info__img {
    display: none;
  }
  #es-vichy.es-vichy .es-use__content {
    max-width: 300px;
    margin-right: 210px;
    margin-left: auto;
    margin-top: -100px;
  }
  #es-vichy.es-vichy .es-use__item::before {
    color: #fad522;
    top: 0;
  }
  #es-vichy.es-vichy .es-banner {
    position: relative;
    min-height: 326px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
  }
  #es-vichy.es-vichy .es-banner__content {
    max-width: 580px;
    margin-bottom: 16px;
    z-index: 100;
  }
  #es-vichy.es-vichy .es-banner__container {
    flex-direction: row;
  }
  #es-vichy.es-vichy .es-banner__border {
    margin-left: 80px;
  }
  #es-vichy.es-vichy .es-banner__disclaimer {
    margin-left: 80px;
  }
  #es-vichy.es-vichy .es-banner__single:first-child {
    margin-bottom: 0;
  }
  #es-vichy.es-vichy .es-banner .es-banner__img {
    display: block;
    position: absolute;
    top: -30px;
    right: 20px;
    z-index: 0;
    max-width: 450px;
    height: auto;
  }
  #es-vichy.es-vichy .es-ingr {
    margin-bottom: 0;
  }
  #es-vichy.es-vichy .es-ingr__title {
    margin-bottom: 64px;
  }
  #es-vichy.es-vichy .es-ingr__container {
    max-width: 730px;
    margin: 0 auto;
    padding: 0;
  }
  #es-vichy.es-vichy .es-rev-banner {
    width: 100%;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0;
  }
  #es-vichy.es-vichy .es-rev-banner__content {
    margin-bottom: 0;
  }
  #es-vichy.es-vichy .es-rev-banner .es-rev-banner__img {
    display: block;
    width: auto;
    position: relative;
  }
  #es-vichy.es-vichy .es-rev-banner .es-rev-banner__img img {
    width: 100%;
    height: 100%;
    max-width: 470px;
    max-height: 470px;
  }
  #es-vichy.es-vichy .es-rev-banner .es-rev-banner__img p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 24px;
  }
  #es-vichy.es-vichy .es-rev-banner .es-rev-banner__img #es-banner__text--bottom-right {
    left: -310px;
  }
}
@media screen and (min-width: 860px) {
  #es-vichy.es-vichy .es-kv__netlock {
    top: 88%;
    right: -152px;
  }
  #es-vichy.es-vichy .es-benefits {
    min-height: 589px;
    display: flex;
    align-items: center;
    background-position: left top;
    margin-bottom: 40px;
  }
  #es-vichy.es-vichy .es-benefits__content {
    padding-top: 56px;
    margin-left: 40px;
  }
  #es-vichy.es-vichy .es-benefits__disc {
    margin-top: 64px;
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */